// Helpers > Parameters

$color-light: rgba(0, 0, 0, .05);
$color-light-medium: rgba(0, 0, 0, .4);
$color-medium: rgba(0, 0, 0, .6);
$color-medium-inverted: rgba(255, 255, 255, .6);
$color-dark: rgba(0, 0, 0, 1);
$color-dark-inverted: rgba(255, 255, 255, 1);

// Helpers > Mixins

@mixin desk {
    @media screen and (max-width: 1340px) {
        @content;
    }
}

@mixin medium {
    @media screen and (max-width: 880px) {
        @content;
    }
}

@mixin image-width {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 520px) {
        @content;
    }
}
